<%= render 'list',user: @user %>

<h1>New Book</h1>
<%= form_with model:@book do |f| %>
  <%= f.label "Title" %>
    <%= f.text_field :title %>
  <%= f.label "Opinion" %>
    <%= f.text_area :body %>
  <%= f.submit "Create Book" %>
<% end %>

<h1>Book detail</h1>
<%= image_tag @a_book.user.get_profile_image(100,100) %>
<%= @a_book.user.name %>
<%= @a_book.title %>
<%= @a_book.body %>

<% if @a_book.user == current_user %>
  <%= link_to 'Edit', edit_book_path %>
  <%= link_to 'Destroy', book_path, method: :delete, data: {confirm: "本当に消しますか？" } %>
<% end %>

