<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/0136745229.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <header>
    <nav class="navbar navbar-expand bg-dark p-0 ">
      <div class="container-fluid justify-content-around" >
        <div class="navbar-brand"><%= link_to "Bookers",root_path,class: 'nav-link text-white' %></div>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
            <%= link_to root_path, class:'nav-link text-white' do %>
              <i class="fa-solid fa-house" style= "color:white;"></i> Home
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to users_path, class:'nav-link text-white' do %>
                <i class="fa-solid fa-users"></i> Users
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to books_path ,class:'nav-link text-white' do %>
                <i class="fa-solid fa-book-open"></i> Books
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-white' do %>
                <i class="fa-solid fa-right-from-bracket"></i> Log out
              <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to  root_path , class: 'nav-link text-white' do %>
                <i class="fa-solid fa-house" style= "color:white;"></i> Home
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  about_path , class: 'nav-link text-white' do %>
                <i class="fa-solid fa-link"></i> About
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_registration_path , class: 'nav-link text-white' do %>
                <i class="fa-solid fa-user-plus"></i> Sign up
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to  new_user_session_path, class: 'nav-link text-white' do %>
                <i class="fa-solid fa-right-to-bracket"></i> Log in
              <% end %>
            </li>
          <% end %>   
        </ul>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <div class="row justify-content-center mt-4">
        <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </footer>
</html>
